
<form method="POST" name="f" action="" onsubmit="return false;">
    <div class="mb-3">
        <input placeholder="Имя бренда" autocomplete="off" type="text" name="" class="form-control">
    </div>
    <div class="mb-3">
        <input placeholder="Наименование" autocomplete="off" type="text" name="" class="form-control">
    </div>
    <div class="mb-3">
        <input placeholder="Артикул" autocomplete="off" type="text" name="" class="form-control">
    </div>
    <div class="mb-3">
        <input placeholder="Цена" autocomplete="off" type="text" name="" class="form-control">
    </div>
    <div class="mb-3">
        <input placeholder="Описание" autocomplete="off" type="text" name="" class="form-control">
    </div>
    <div class="mb-3">
    <input id="upldImg" class="required_file" type="file" name="file.jpg" style="margin:20px 0">
        <input id="submitImg" class="required_btn btn-primary mb-3"  type="submit" value="Загрузить картинку" name="submit" style="margin:20px 0">
    </div>

</form>
