<!--о компании-->
<h1>О нас</h1>
<p>В производстве продукции компании Imperia используются только лучшие современные технологии и комплектующие, отвечающие всем стандартам качества и безопасности. Производимые машины предназначены для долгосрочного использования и практически не требуют затрат на установку и обслуживание.</p>
