
    <div class="row g-0">
        <h4 class="card-title">Лапшерезка ручная 117 RAME</h4>
        <div class="col-md-3">
            <img src="http://www.rp.ru/img/eq/imperia/b8117-2_s.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-9">
            <div class="card-body">
                <p class="card-text">Машина для изготовления лапши из хромированной стали Imperia 117 Rame станет стильным аксессуаром на Вашей кухне и лучшим помощником в приготовлении пасты! Встроенные лезвия позволят приготовить тальятелле и феттучине, а также раскатать тесто. Дополнительные насадки можно приобрести отдельно.</p>
                <p class="card-text"><ul>
                <li>Материал - хромированная сталь.</li>
                <li>Цвет - медный.</li>
                <li>Гарантия прочности и долговечности от производителя.</li>
                <li>Возможность приготовить разнообразные блюда на основе макаронных изделий.</li>
                <li>Легкость использования, универсальность.</li>
                <li>Ширина вала тестораскатки: 150 мм.</li>
                <li>Габаритные размеры - 205 х 185 х 175 мм.</li>
                <li>Вес - 3,4 кг.</li>
            </ul></p>
            </div>
        </div>
    </div>


