<!--главная страница с товарами-->
      <div class="row g-0">
        <h4 class="card-title">Лапшерезка ручная 117 RAME</h4>
        <div class="col-md-3">
            <img src="http://www.rp.ru/img/eq/imperia/b8117-2_s.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-9">

            <div class="card-body">
                <p class="card-text">Машина для изготовления лапши из хромированной стали Imperia 117 Rame станет стильным аксессуаром на Вашей кухне и лучшим помощником в приготовлении пасты! Встроенные лезвия позволят приготовить тальятелле и феттучине, а также раскатать тесто. Дополнительные насадки можно приобрести отдельно.</p>
                <p class="card-text"><ul>
                <li>Материал - хромированная сталь.</li>
                <li>Цвет - медный.</li>
                <li>Гарантия прочности и долговечности от производителя.</li>
                <li>Возможность приготовить разнообразные блюда на основе макаронных изделий.</li>
                <a rel="simplebox" href="http://www.rp.ru/img/eq/imperia/Rame.jpg">
                    <img src="http://www.rp.ru/img/eq/imperia/Rame.jpg" width='350'
                         height='124' style="float:right" title="Виды пасты"/></a>
                <li>Легкость использования, универсальность.</li>
                <li>Ширина вала тестораскатки: 150 мм.</li>
                <li>Габаритные размеры - 205 х 185 х 175 мм.</li>
                <li>Вес - 3,4 кг.</li>
            </ul>
                <h5 class='mt-4'>
                    <b>Цена:</b>
                    7 085 руб
                </h5>
                <a href="" class="btn btn-primary">Заказать</a>
            </div>
        </div>
    </div>
    <div class="row g-0">
        <h4 class="card-title">Лапшерезка ручная 119 NERA</h4>
        <div class="col-md-3">
            <img src="http://www.rp.ru/img/eq/imperia/b8118-2_s.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-9">

            <div class="card-body">
                <p class="card-text">Современные тренды кухонных аксессуаров подчеркнут неповторимый стиль Вашей кухни! Ручная лапшерезка Imperia 119 Nera поможет не только приготовить аппетитную пасту, но и насладиться процессом приготовления! Встроенные лезвия позволят приготовить тальятелле и феттучине, а также раскатать тесто. Дополнительные насадки можно приобрести отдельно.</p>
                <p class="card-text"><ul>
                    <li>Материал - хромированная сталь.</li>
                    <li>Цвет - черный.</li>
                    <li>Гарантия прочности и долговечности от производителя.</li>
                    <li>Возможность приготовить разнообразные блюда на основе макаронных изделий.</li>

                <a rel="simplebox" href="http://www.rp.ru/img/eq/imperia/Nera.jpg">
                    <img src="http://www.rp.ru/img/eq/imperia/Nera.jpg" width='350'
                         height='124' style="float:right" title="Виды пасты"/></a>
                <li>Легкость использования, универсальность.</li>
                <li>Ширина вала тестораскатки: 150 мм.</li>
                <li>Габаритные размеры - 205 х 185 х 175 мм.</li>
                <li>Вес - 3,4 кг.</li>
            </ul>
                <h5 class='mt-4'>
                    <b>Цена:</b>
                    6 589 руб
                </h5>
                <a href="" class="btn btn-primary">Заказать</a>
            </div>
        </div>
    </div>
    <div class="row g-0">
        <h4 class="card-title">Машина для замешивания теста и приготовления пасты CHEF IN CASA 750</h4>
        <div class="col-md-3">
            <img src="http://www.rp.ru/img/eq/imperia/b8119-2_s.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-9">

            <div class="card-body">
                <p class="card-text">
                    Машина для приготовления пасты Chef In Casa 750 станет незаменимым профессиональным помощником на Вашей кухне. Возможность приобретения дополнительных насадок позволит приготовить различные блюда из пасты и макаронных изделий на любой вкус.</p>
                <p class="card-text"><ul>
                <li>Материал - нержавеющая сталь.</li>
                <li>Мощность - 750 Вт.</li>
                <li>Производительность - 6 кг/час.</li>
                <li>Объем чаши - 2,5 кг.</li>
                <li>Ручной резак.</li>
                <li>Очистка машины - с помощью ткани или мягкой щетки.</li>
            </ul>
                <h5 class='mt-4'>
                    <b>Цена:</b>
                    150 570 руб
                </h5>
                <a href="" class="btn btn-primary">Заказать</a>
            </div>
        </div>
    </div>
    <div class="row g-0">
        <h4 class="card-title">Набор для приготовления печенья Cookies Imperia 580</h4>
        <div class="col-md-3">
            <img src="http://www.rp.ru/img/eq/imperia/65815-2_s.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-9">

            <div class="card-body">
                <p class="card-text">
                    Универсальный кондитерский шприц для приготовления печенья Imperia Cookies поможет Вам раскрыть свои кулинарные таланты в приготовлении ароматной домашней выпечки.</p>
                <p class="card-text"><ul>
                <li>Материал - алюминий.</li>
                <li>В комплекте 18 насадок (14 шт. для печенья + 4 шт. для крема, мороженого).</li>
            </ul>
                <h5 class='mt-4'>
                    <b>Цена:</b>
                    2 504 руб
                </h5>
                <a href="" class="btn btn-primary">Заказать</a>
            </div>
        </div>
    </div>
    <div class="row g-0">
        <h4 class="card-title">Тестораскатка-лапшерезка ручная Titania 190</h4>
        <div class="col-md-3">
            <img src="http://www.rp.ru/img/eq/imperia/Titania_190_s.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-9">

            <div class="card-body">
                <p class="card-text">
                    Настольная ручная машина для раскатки теста и приготовления лапши тальятелле 2 мм или феттучине 6,5 мм.В лапшерезке предусмотрен вал для тонкой раскатки теста и два встроенных нарезных блока для нарезания узкой или широкой лапши. Удобная ручка.</p>
                <p class="card-text">
                <table>
                    <tbody>
                    <tr>
                        <td>
                            <ul>
                                <li>ширина лапши 2,0 мм и 6,5 мм;</li>
                                <li>ширина вала тестораскатки 150 мм;</li>
                                <li>толщина раскатываемого пласта 0,2 - 2,2 мм (6 положений);</li>
                                <li>в комплекте струбцина для крепления к столу;</li>
                                <li>габаритные размеры - 205 х 180 х 145 мм;</li>
                                <li>вес - 2,9 кг;</li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li>изготовлена из высококачественной хромированной стали;</li>
                                <li>шестерни из закаленной стали;</li>
                                <li>самосмазывающиеся оси и втулки;</li>
                                <li>механический привод.</li>
                            </ul>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <h5 class='mt-4'>
                    <b>Цена:</b>
                    4 058 руб
                </h5>
                <a href="" class="btn btn-primary">Заказать</a>
            </div>
        </div>
    </div>


