<form method="post" action="login-admin" class="form-row justify-content-center">
    <div class="col-12 col-md-4">
        <div class="mb-4">
        </div>
        <input type="email" placeholder="эл. почта" name="email" class="form-control mt-2">
        <input type="password" placeholder="пароль" name="password" class="form-control mt-2">
        <div class="d-flex"><button class="d-block btn btn-primary mt-3"><span class="spinner-border spinner-border-sm mr-2" style="display: none;"></span>
            Войти
        </button>
        </div>
    </div>
</form>