<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Форма заказа</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Заказ отправлен</p>
                <p>
                    <b>Имя:</b>{{{data.name}}}<br>
                    <b>Телефон:</b>{{{data.phone}}}<br>
                    <b>Email адрес:</b>{{{data.email}}}<br>
                </p>
            </div>

        </div>
    </div>
</div>