
                <h4>Заказ отправлен!</h4>
                <p>
                    <b>Имя: </b>{{{data.name}}}<br>
                    <b>Телефон: </b>{{{data.phone}}}<br>
                    <b>Email адрес: </b>{{{data.email}}}<br>
                </p>

