<h5> Лапшерезка ручная IMPERIA IPASTA RAME 117 </h5>
<p><strong>Описание товара:</strong></p>
<p>Ручная лапшерезка IMPERIA IPASTA RAME 117 станет отличным дополнением на кухне шеф-повара! С ее помощью можно легко раскатать тесто, приготовить различные блюда. Двойная насадка в комплекте Duplex 217 - для нарезки лапши Tagliatelle 2 мм, Fettuccine 6,5 мм. Можно приобрести дополнительные насадки серии Simplex и/или Duplex и расширить свои возможности в приготовлении вкуснейших итальянских макаронных изделий!</p>
<img
        src='http://www.rp.ru/upload/images/B8117_b.jpg'
        alt='logo'
        width='200'
        height='180'/>
<p><strong>Цена:</strong> 7 002 руб</p>